.slides {
  /* position: relative; */
  width: 100%;
  aspect-ratio: 16 / 9;
  overflow: hidden;
  border-radius: 15px;
  object-fit: cover;
}
#product-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
  margin-top: 30px;
}

.product {
  background: #ffffff;
  padding: 15px;
  border-radius: 12px;
  box-shadow: 0 6px 15px rgba(0,0,0,0.1);
  text-align: center;
}

.product img {
  width: 100%;
  height: 220px;
  object-fit: cover;
  border-radius: 10px;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #fffaf4;
}

.navbar {
  background-color: #f3e5d8 !important;
}

.navbar-brand {
  font-weight: bold;
  color: #8b4513 !important;
}

.card {
  border-radius: 15px;
  transition: transform 0.3s ease;
}

.card:hover {
  transform: translateY(-8px);
}



